# This is the core dependencies of slingsby
# Something more is usually required though, like a database connector
# and a cache binding. Make sure to install these in your environment,
# with whatever tools support for cache and database.

# Direct dependencies:
celery==3.1.11
django==1.8.1
django-celery==3.1.10
pyyaml==3.11
mock==1.0.1
pilkit==1.1.12
pillow==2.5.3
python-dateutil==2.2
pytz==2014.3
beautifulsoup4==4.3.2
requests==2.3.0
# fabric needs paramiko < 1.13 on py2.x
paramiko==1.12.0
python-social-auth==0.1.24

# Python-social-auth dependencies:
oauthlib==0.6.1
python-openid==2.2.5
requests-oauthlib==0.4.0

# python-dateutil dependencies:
six==1.6.1

# paramiko dependencies:
ecdsa==0.11
pycrypto==2.6

# celery dependencies:
billiard==3.3.0.17
amqp==1.4.5
kombu==3.0.16
anyjson==0.3.3
