# Include the base requirements
# The base requirements is under the salt directory, so that it can be installed by salt
-r salt/slingsby/requirements.txt

# install django-debug-toolbar from github for updated version:
git+https://github.com/django-debug-toolbar/django-debug-toolbar.git@7e4ecfd04cfe61b51e1fd6fdf0ce1c800a3ebb3b
