# Include the base requirements
# The base requirements is under the salt directory, so that it can be installed by salt
-r salt/slingsby/requirements.txt

django-debug-toolbar

# Add test tools
django-nose
mock
