# Include the base requirements
# The base requirements is under the salt directory, so that it can be installed by salt
-r salt/slingsby/requirements.txt

django-debug-toolbar==1.2.1
fabric==1.8.3

# Add test tools
django-nose==1.2
mock==1.0.1
coverage==3.7.1

# django-nose dependencies
nose==1.3.3

# fabric dependencies already included by paramiko
