/* HTML5 âœ° Boilerplate
 * ==|== normalize ==========================================================
 */

@import "compass/css3";

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: auto; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 15px; line-height: 1.4; }
body, button, input, select, textarea { font-family: "Oxygen", sans-serif; color: #222; }

::-moz-selection { background: rgb(102, 167, 254); color: #fff; text-shadow: none; }
::selection { background: rgb(102, 167, 254); color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Tarjei Husøy
   ========================================================================== */

$header_background: #404040;
$header_emphasis: lighten($header_background, 10%);
$headers_color: rgb(215, 73, 55);

$quote_bg: rgb(72, 137, 244);

body {
    background-color: #FFFFFF;
}

#wrapper {
    position: relative;
    margin: auto auto;
    min-width: 1000px;
}

#main {
    z-index: 0;
    width: 1000px;
    margin: auto auto;
}

#content h1 {
    background-color: $headers_color;
    color: white;
    padding: 5px;
    border-radius: 2px;
    width: 100%;
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    @include box-sizing(border-box);
    clear: both;
    font-family: "Bitter", serif;
}

h1 { font-size: 20px; }

h2 { font-size: 18px; }

h3 { font-size: 16px; }

#sidebar {
    font-size: 14px;

    h1 {
        font-size: 16px;
    }

    pre {
        font-family: "Oxygen", sans-serif;
    }
}

/* ==|== Header ======================================= */

#header_wrapper {
    max-width: 1500px;
    min-width: 960px;
    margin: auto auto;
}

header {
    height: 50px;
    background-color: $header_background;

    a:hover {
        background-color: $header_emphasis;
    }

    nav {
        margin: 0;
        padding: 0;

        ul {
            padding-top: 15px;
            padding-left: 240px;
            margin: auto auto;
            list-style-type: none;
            text-align: center;
            z-index: 2;

            li {
                display: inline;
                text-transform: uppercase;
                font-weight: bold;
                border-right: 1px solid gray;
                position: relative;

                &:last-child {
                    border-right: none;
                }
            }
        }

        a:active,
        a:visited,
        a:active,
        a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            padding: 5px 20px;
        }
    }

    #status {
        position: relative;
        float: right;
        margin-top: -18px;
        margin-right: 10px;
        color: white;
        z-index: 1;

        span {
            display: inline-block;
            width: 100%;
            text-align: right;
        }

        .click_symbol {
            @include single-transition(all, 500ms, ease-in-out);
            display: inline-block;
            width: 20px;
            height: 20px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;

            &.rotated_left {
                @include rotate(-90deg);
            }
        }

        ul {
            padding: 0px;
            padding-top: 5px;
            margin: 0;
            text-align: right;
            list-style: none;

            li {

                a {
                    background-color: $header_background;
                    padding: 8px;
                    color: #fff;
                    text-decoration: none;
                    width: 100%;
                    display: inline-block;

                    &:hover {
                      background-color: $header_emphasis;
                    }
                }
            }
        }

        span a {
            color: #fff;
            font-weight: bold;
            font-size: 14px;
            padding: 5px 20px;
            text-decoration: none;
        }
    }
}



/* ==|== end header =================================== */

article img, .event img {
  width: 100%;
}

textarea {
    margin: 5px 0px;
}

form {
    margin: 5px 0px;
}

.uploadfield {
    width: 250px;
    float: left;
    clear: right;
    margin: 5px 0px;
}

.uploadform {
    width: 680px;
}

.byline {
    width: 690px;
    color: rgb(150, 150, 150);
    font-style: italic;
}

.inline {
    display: inline;
}

.img_text {
    padding: 0px 20px;
    font-weight: bold;
    font-size: 0.9em;
}

.clear_sides {
    float: left;
    clear: both;
}

/* ==|== Events ======================================= */

.eventheader meter {
  /*background-color: rgb(72, 137, 244);*/
  float: right;
  margin-top: 5px;
  color: #fff;
}

.no-meter .progressbar {
  display: block;
}

.progressbar {
    background-color: #fff;
    position: relative;
    float: right;
}

.progress {
    background-color: rgb(72, 137, 244);
    float: left;
}

.progressbar, .progress, .progresstext {
    width: 100px;
    height: 20px;
    border-radius: 15px;
}

.progresstext {
    position: absolute;
    top: 0px;
    left: 0px;
    color: black;
    padding-top: 3px;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.event {
    clear: both;
    margin-bottom: 10px;
}

.event_extras {
    float: right;
    font-weight: bold;
    font-size: 14px;
    margin-top: 4px;
}

.event_info {
    font-style: italic;
}


/* ==|== end Events =================================== */

.older {
    float: left;
}

.newer {
    float: right;
}

.page-current {
    width: 200px;
    margin: auto auto;
    text-align: center;
}

.page-navigation {
    padding-top: 20px;
}

.styremedlem {
    position: relative;
    padding-bottom: 20px;
}

.styremedlem > .about {
    position: absolute;
    right: 0px;
}

.styremedlem .about {
    width: 325px;
}

.styremedlem .about h3 {
    padding-left: 15px;
}

.styremedlem .about li {
    padding-top: 7px;
}

.styremedlem img {
    width: 350px;
}

#feedback {
    margin: 5px 20px;
    background-color: rgb(123, 209, 72);
    border-style: groove;
    border-width: 2px;
    text-align: center;

}

#user_class_input {
    float: right;
    width: 180px;
    margin-right: -10px;
}

#general_input {
    float: left;
    width: 400px;
}

input[type="time"] {
    width: 60px;
}

input[type="date"] {
    width: 100px;
}

input[type="number"] {
    width: 50px;
}

input[type="image"] {
    margin-bottom: -4px;
    margin-right: -5px;
}

input {
    margin: 5px;
}

#content {
    float: right;
    margin-top: 15px;
    width: 690px;
    padding: 5px;
}

table {
    border: 1px dotted black;
}

tr {
    border-bottom: 1px dotted black;
}

td {
    padding: 5px 10px;
}

th {
    background-color: #D74937;
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding: 5px 10px;
}

#toplist {
    border: none;

    tr {
        border: none;
    }

    td{
        border: none;
        background-color: #fff;
        padding: 2px;
    }
}

/* ==|== Sidebar ====================================== */

#sidebar {
    z-index: 1;
    width: 250px;
    margin-top: -62px;
    float: left;

    nav {
        background-color: #404040;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;

        ul {
            list-style-type: none;
            font-size: 15px;
            text-align: center;
        }

        a {
            color: white;
            font-weight: bold;
            text-decoration: none;
            display: inline-block;
            width: 100%;
            padding: 5px 0;

            &:hover {
                background-color: $header_emphasis;
            }
        }
    }

    h4 {
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
    }
}


#logo {
    background-color: $header_background;
    display: inline-block;

    img {
        padding: 0px 10px 10px 10px;
    }
}

.sidebar_box {
    width: 240px;
    min-height: 50px;
    margin-top: 20px;
    clear: both;
    color: white;
    border-radius: 3px;
    padding: 5px;
}

#sponsors {
    margin-top: 20px;
    clear: both;
    width: 100%;

    img {
        border-radius: 5px;
        margin-top: 10px;
    }
}


/* ==|== Quotes ============================================================= */

.quote_reject {float: right;}
.quote_confirm {float: left;}

.quote {
    overflow: hidden;
    background: url("http://org.ntnu.no/telemark/static/gfx/quote-bg.png") $quote_bg no-repeat;
    color: white;
    width: 240px;
    margin-left: 0;
    margin-right: 0;

    cite {
        font-style: normal;
    }

    .quote_author {
        margin-top: -10px;
        padding: 10px;
        float: right;
        font-weight: bold;
        width: 70%;
        text-align: right;
    }

    #suggest_quote {
        background-color: darken($quote_bg, 5%);
        border-radius: 6px;
        box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.4);
        font-weight: bold;
        font-size: 25px;
        color: white;
        line-height: 1em;
        width: 30px;
    }
}

.quote_descr {
    float: left;
    width: 84px;
    padding: 14px;
    text-align: center;
}

.quote_list {
    list-style: none;
    padding-left: 0;

    li {
        display: inline-block;
        vertical-align: top;
    }
}

#quote_suggestion {color: #000;}
.suggested_quote {background: $headers_color;}

/* ==|== end Quotes ========================================================= */

#next_events {
  background: url("http://org.ntnu.no/telemark/static/gfx/events-bg.png") rgb(1, 165, 21) no-repeat;

  a {
    font-weight: bold;
    text-decoration: none;
    color: white;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 15px;
  }

}

#follow_us {
    text-align: center;
    margin-top: 10px;


    ul {
      list-style: none;
      padding: 0;

      li {
          display: inline-block;

          a {
              display: inline-block;

              img {
                  width: 50px;
              }

          }
      }
    }
}

/* ==|== end sidebar ======================================================== */

/* ==|== arkiv ============================================================== */

.archive_event {
    margin-left: 10px;

    h2 {
      cursor: pointer;
    }
}

img.gallery {
    position: absolute;
    margin-top: -75px;
    top: 50%;
    width: 100%;
}
.gallery_img_wrapper {
    height: 150px;
    width: 45%;
    overflow: hidden;
    padding: 5px 0px;
    position: relative;
    float: left;
    margin: 5px;
    padding: 0;

    p.credits {
        background-color: rgba(40, 40, 40, 0.9);
        color: white;
        font-weight: bold;
        margin: 0;
        opacity: 0.5;
        padding: 10px;
        position: absolute;
        z-index: 1;
    }
}

/* ==|== profile ============================================================ */

.profile_image {
    float: left;
    padding: 0px 10px;
}

ul.most_voted_songs {
    list-style: none;
}

/* ==|== musikk ============================================================= */

.multicolumn ul {
    float:left;
    list-style: none;
    padding-left: 0px;

    li {
        display: inline;
        width: 340px;

        ul li {
            display: block;
        }
    }
}

#toplist .left {width:400px; vertical-align: middle;}
#song_help_text {clear: both; font-style: italic;}

a.song_rating {
    text-decoration: none;
}

.small {margin-top: -20px; padding: 0px;}
.odd {background-color: #66FFFF;}
.even {background-color: #CCFFFF;}

.entry {
    height: 30px;
    vertical-align: bottom;
    font-size: 17px;
    border: 1px solid black;
}

.center {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.wide {width: 100%;}

/* ==|== Social Plugins ===================================================== */

#disqus_thread h3 {
    color: black;
    background-color: white;
}

#social_plugins {
    margin-top: 20px;
}


/*
@media all and (max-width:999px) {
    #sidebar {
        display: none;
    }

    .wrapper {
        min-width: 600px;
    }
}
*/


/* ==|== non-semantic helper classes ======================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0, 0, 0, 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.non-select {-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;}
.clickable { cursor: pointer; }

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 768px) {}

/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
