/* The links to the fonts will be replaced with base64 encoded fonts by the grunt cssUrlEmbed task */

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  src: local('Bitter-Bold'), url(sass/fonts/Bitter.woff) format('woff');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(sass/fonts/Oxygen.woff) format('woff');
}
