{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{ STATIC_DIR }}stylesheets/zoombox.css">
{% endblock %}

{% block content %}

    <p>
        Hei, og velkommen til arkivet vårt! Vi sitter på massevis av gamle bilder, videoer, medlemsblader, og lignende
        rarieteter, som ikke har sett dagens lys på leeeenge. Derfor har vi et enormt arbeid i å katalogisere alt dette,
        samt håndtere alle nye bilder som kommer inn. Har du vært med på noe kult i TA-regi vil vi gjerne ha bildene dine!
        Send i så fall en mail til telemark-webmaster@ntnui.no.
    </p>

    <p>Foreløpig finner du her alle tidligere arrangementer vi har <i>bilder</i> fra, mer vil dukke opp så fort vi rekker
        å få oversikt over alt det gamle materialet! Når vi har fått kodet inn støtte for video og dokumenter vil dette
        også dukke opp, så følg med fremover! Hvis du skulle oppleve noen problemer med arkivet, så vil webmaster gjerne
        vite om det! Gi vedkommende et hint om hva du sliter med på telemark-webmaster@ntnui.no, så skal vi prøve å få
        ordnet det!
    </p>

    {% for event in events %}
        {% ifchanged event.date %}
            <h1>{{ event.date }}</h1>
        {% endifchanged %}
        <div class="archive_event" id="{{ event.pk }}">
            <h2>{{ event.name }}</h2>
            <div class="event_details" id="details-{{ event.pk }}" style="display: none">
                Laster...
            </div>
        </div>

    {% endfor %}

{% endblock %}

{% block extrascripts %}
    <script>
        /* Set up click handling for the events */
        $('.archive_event').each(function() {
            $(this).click(function(){
                var id = $(this).attr('id');
                var event_details = $('.event_details#details-' + id);
                $.ajax({
                    url: {% url archive %} + id,
                    method: 'POST',
                    success: function(data, status, jqxhr){
                        event_details.html(data);
                        $('a.zoombox').zoombox({
                            theme       : 'darkprettyphoto',//available themes : zoombox,lightbox, prettyphoto, darkprettyphoto, simple
                            opacity     : 0.8,              // Black overlay opacity
                            duration    : 400,              // Animation duration
                            animation   : true,             // Do we have to animate the box ?
                            width       : 1500,              // Default width
                            height      : 800,              // Default height
                            gallery     : true,             // Allow gallery thumb view
                            autoplay : false                // Autoplay for video
                        });
                    },
                });
                if (event_details.hasClass('active')){
                    event_details.slideUp();
                    event_details.removeClass('active');
                } else {
                    event_details.slideDown();
                    $('.event_details.active').removeClass('active').slideUp();
                    event_details.addClass('active');
                }
            });
        });
    </script>
    <script src="{{ STATIC_DIR }}js/zoombox.js"></script>

{% endblock %}