{% load num_tools %}

<div class="inner_wrapper">
    {% for gallery in event.galleries %}
        <a href="{{ gallery.images.0.get_absolute_url }}" class="zoombox zgallery{{ gallery.pk|change_base:"16,10" }} thumb">
            <div class="gallery_img_wrapper">
                <p class="credits">
                    Foto: {{ gallery.photographer|default:"Ukjent" }}
                </p>
                <img src="{{ gallery.images.0.get_absolute_url }}" class="gallery" alt="Bildegalleri"
                    {% if gallery.photographer %}
                        title="Foto: {{ gallery.photographer }}"
                    {% endif %}
                >
            </div>
        </a>

        <div style="display:none;">
            {% for image in gallery.images|slice:"1:" %}
                <a href="{{ image.get_absolute_url }}"
                    class="zoombox zgallery{{ gallery.pk|change_base:"16,10" }}"
                    {% if gallery.photographer %}
                        title="Foto: {{ gallery.photographer }}"
                    {% endif %}>
                </a>
            {% endfor %}
        </div>

    {% endfor %}

    {% comment %}
    {% for video in event.videos %}
        <video controls="contrls">
            <source src="{{ video.get_absolute_url }}" type="video/webm" />
            Nettleseren din støtter ikke HTML5-video!
        </video>
    {% endfor %}
    {% endcomment %}
<br>
</div>
