{% extends "base.html" %}

{% load revved_static %}

{% block og_description %}Alt av #ntnuita på Instagram. Bruk det på tur du òg!{% endblock %}
{% block og_image %}
    {% for recent_media in all_media|slice:":5" %}
        {% if recent_media.media_type == 'image' %}
            <meta property="og:image" content="{{ recent_media.media_url }}" />
            <meta property="og:image:width" content="640" />
            <meta property="og:image:height" content="640" />
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <p>
            Vi bruker Instagram når vi er på tur, bruk <strong>#ntnuita</strong> du òg så får vi andre se hvor det er snø og hva som skjer i gruppa.
        </p>

    </div>

    <p>
        Dette er alle bildene vi har delt:
    </p>

    {% for media in all_media %}
        {% include 'instagram/render_media.html' %}
    {% endfor %}
{% endblock %}


{% block extrascripts %}
    <script async defer src="{% static 'js/instagram.min.js' %}"></script>
{% endblock %}
