<!DOCTYPE html>
<html lang="no">

{% load shorten %}
{% load revved_static %}

<head prefix="og: http://ogp.me/ns#">
{% block header %}
    <meta charset="UTF-8">
    <!--
        Hei du!

        Jasså, ute og snoker? Er det noe som ikke fungerer for deg? Hvis du klarer å identifisere problemet, må du gjerne
        gi oss et hint om hva det er på telemark-webmaster@ntnui.no, eller så kan du fikse det selv og sende oss en pull
        request, all koden finner du på github.com/telemarkalpint/slingsby. Eller bare åpne en issue, alt hjelper!

        Kunne du tenke deg å hjelpe til med å videreutvikle disse sidene? De er utviklet i Python og kjører Django fra en
        Raspberry Pi 2 som står hos ITEM, med god hjelp fra moderne verktøy som Grunt, Bower, Fabric, SaltStack og Travis CI,
        så hvis du syns at moderne webteknologi er gøy og har litt tid til overs så vil vi gjerne komme i kontakt med deg!
        Skrik ut på telemark-webmaster@ntnui.no om du skulle være interessert!

        Ha en fortsatt strålende dag!
    -->
    <title>{% block title %}{{ title|default:"NTNUI Telemark-Alpint" }}{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static "stylesheets/styles.css" %}" type="text/css">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    {% endblock %}
    <meta property="og:description" content="{% block og_description %}Norges største idrettslag inviterer deg med på ski! Bli med til alpene, Vassfjellet, på trening, på skifilmkvelder og mye moro!{% endblock %}" />
    <meta property="og:title" content="{% block og_title %}{{ title|default:"NTNUI Telemark-Alpint" }}{% endblock %}" />
    <meta property="og:type" content="{% block og_type %}sports_team{% endblock %}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    {% block og_image %}
        <meta property="og:image" content="{{ request.is_secure|yesno:"https,http" }}://{{ request.get_host }}{% static "gfx/logo-dark.png" %}" />
        <meta property="og:image:width" content="500" />
        <meta property="og:image:height" content="413" />
    {% endblock %}
    <meta property="og:site_name" content="NTNUI Telemark-Alpint" />
    <meta property="og:locale" content="nb_NO" />
    <meta property="fb:admins" content="902380388" />
    {% block extrastyles %}{% endblock %}
    {% block preload_scripts %}{% endblock %}
{% endblock %}
</head>

<body>

<div id="wrapper">
    <header class="non-select">
        <div id="header_wrapper">
            <nav>
                  <ul>
                    <li>
                        <a href="{% url 'frontpage' %}">Hjem</a>
                    </li>
                    <li>
                        <a href="{% url 'program' %}">Program</a>
                    </li>
                    <li>
                        <a href="{% url 'archive' %}">Arkiv</a>
                    </li>
                    <li>
                        <a href="{% url 'musikk' %}">Musikk</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/groups/2253755076/">Forum</a>
                    </li>
                </ul>
            </nav>
            <div id="status">
            {% block status %}

                <span class="clickable">
                    {% if user.is_authenticated %}
                        {{ user.username|truncatechars:30 }}
                    {% else %}
                        Login
                    {% endif %}
                    <span class="click_symbol">&#9664;</span>
                </span>


                <ul style="display: none;" class="menu-dropdown">
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin:index' %}">Administrer</a></li>
                        {% endif %}

                        <li><a href="{% url 'profile' %}">Profil</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>

                    {% else %}

                        <li>
                            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.get_full_path|urlencode }}">
                                Login via facebook
                            </a>
                        </li>

                        {% if debug %}
                            <li><a href="{% url 'devlogin' %}">Developer login</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            {% endblock %}
            </div>
        </div>
    </header>

    <div id="main">

        {% block sidebar %}

            <aside id="sidebar">
                <nav>
                    <a href="{% url 'frontpage' %}" id="logo" class="non-select">
                        <img class="non-select" width="230" height="190" src="{% static "gfx/logo-light-transparent.png" %}" alt="" />
                    </a>

                    <ul>
                        {% for subpage in subpages %}
                            {% if subpage.visible or user.is_staff %}
                                <li><a href="/{{ subpage.slug }}">{{ subpage.title|safe }}{% if not subpage.visible %} (usynlig){% endif %}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li>
                            <a href="{% url 'all_instagram' %}">Instagram</a>
                        </li>
                        {% if not request.user.profile.member_since %}
                            <li>
                                <a href="{% url 'signup' %}">Bli med!</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>

                {% block quote %}
                    {% if random_quote %}

                        {% include 'quotes/single_quote.html' with quote=random_quote suggest_button="True" %}

                        {% if user.is_authenticated %}
                            <div id="quote_suggestion" class="sidebar_box" style="display: none">
                                <h1>Foreslå en ny quote!</h1>
                                <form id="quoteform" action="{% url 'all_quotes' %}" method="post">
                                    <table>
                                        {{ quote_form.as_table }}
                                    </table>
                                    <input type="submit" class="btn" value="Foreslå!">
                                </form>
                            </div>
                        {% endif %}

                        {% if perms.quotes.approve_quote %}
                            {% for suggested_q in suggested_quotes %}
                                <div class="suggested_quote_wrapper">
                                    <div class="suggested_quote sidebar_box">
                                        {% if suggested_q.topic %}
                                            <h1>Om {{ suggested_q.topic }}</h1>
                                        {% endif %}
                                        <div id="quote_content">
                                            <pre>{{ suggested_q.quote }}</pre>
                                        </div>
                                        <span id="quote_author">- {{ suggested_q.author }}</span>
                                    </div>
                                    <form class="quote_confirm" action="{% url 'approve_quote' suggested_q.id %}" method="post">
                                        <input type="image" src="{% static "gfx/confirm.png" %}" alt="Godkjenn">
                                    </form>
                                    <span class="quote_descr">Akseptér sitatet over?</span>
                                    <form class="quote_reject" action="{% url 'show_quote' quote_id=suggested_q.id %}" method="post">
                                        <input type="hidden" name="_http_verb" value="delete">
                                        <input type="image" src="{% static "gfx/reject.png" %}" alt="Slett">
                                    </form>
                                </div>

                            {% endfor %}
                        {% endif %}

                    {% endif %}
                {% endblock quote %}

                {% block next_events %}
                    {% if next_events %}
                        <div id="next_events" class="sidebar_box" style="background: rgb(1, 165, 21) url('{% static 'gfx/events-bg.png' %}') no-repeat">

                            <h1>Neste events</h1>

                            <ul>
                                {% for event in next_events %}
                                    <li><a href="{% url 'event_detail' event.id %}">{{ event.startdate|date:"d.n.y" }}: {{ event.name }}</a></li>
                                {% endfor %}
                            </ul>

                        </div>
                    {% endif %}
                {% endblock next_events %}

                {% block sponsors %}
                    <div id="sponsors" class="non-select">

                        {% for sponsor in sponsors %}
                            <a href="{{ sponsor.webpage }}"><img src="{{ sponsor.image }}" alt="Logoen til {{ sponsor }}"></a>
                        {% endfor %}

                    </div>
                {% endblock sponsors %}

                {% block follow %}
                    <div id="follow_us">
                        <p>
                            Følg oss på:
                        </p>
                        <ul>
                            <li>
                                <a href="https://github.com/organizations/TelemarkAlpint" title="GitHub">
                                    <img src="{% static "gfx/social/Octocat.png" %}" alt="GitHub logo">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/ntnuita" title="Facebook">
                                    <img width=43 style="width: 43px;" src="{% static "gfx/social/Facebook.png" %}" alt="Facebook logo">
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endblock follow %}

            </aside>
        {% endblock %}

        <div id="content" role="main">

            {% if messages %}
                {% for message in messages %}
                    <div class="messages {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}

            {% endif %}

            {% block content %}{% endblock %}

        </div>


    </div> <!--! end of #main -->
</div> <!--! end of #wrapper -->

{% block scripts %}
    <script>
        {# This object holds configuration that can be used client-side, to avoid hardcoding stuff #}
        var slingsby = {
            urls: {
                {% for url_name, url in slingsby_urls.items %}
                    {{ url_name }}: '{{ url }}',
                {% endfor %}
            },
            config: {
                {% for config_name, value in slingsby_config.items %}
                    {{ config_name }}: '{{ value }}',
                {% endfor %}
            },
        };
    </script>
    <script src="{% static "js/main.min.js" %}"></script>

    {% if debug %}
        <script async defer src="http://localhost:35729/livereload.js"></script>
    {% endif %}
{% endblock %}

{% block extrascripts %}{% endblock %}

<script>
    window._gaq = [['_setAccount','UA-26717996-1'],['_trackPageview'],['_trackPageLoadTime']];
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape('%3Cscript async defer src="' + gaJsHost + 'google-analytics.com/ga.js"%3E%3C\/script%3E'));
</script>

<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->

</body>
</html>
