.archive_event {
    margin-left: 10px;

    h2 {
      cursor: pointer;
    }
}

img.gallery {
    position: absolute;
    margin-top: -75px;
    top: 50%;
    width: 100%;
}
.gallery_img_wrapper {
    height: 150px;
    width: 45%;
    overflow: hidden;
    padding: 5px 0px;
    position: relative;
    float: left;
    margin: 5px;
    padding: 0;

    p.credits {
        background-color: rgba(40, 40, 40, 0.9);
        color: white;
        font-weight: bold;
        margin: 0;
        opacity: 0.5;
        padding: 10px;
        position: absolute;
        z-index: 1;
    }
}
