.event {
    clear: both;
    margin-bottom: 10px;

    img {
      width: 100%;
    }

    .event_extras {
        float: right;
        font-weight: bold;
        font-size: 14px;
        margin-top: 4px;
    }

    .event_info {
        font-style: italic;
    }

    meter {
      /*background-color: rgb(72, 137, 244);*/
      float: right;
      margin-top: 5px;
      color: #fff;
    }
}
