#toplist {
    border: none;

    tr {
        border: none;
    }

    td {
        border: none;
        background-color: #fff;
        padding: 2px;
    }

    .left {
        width:400px;
        vertical-align: middle;
    }
}

.multicolumn ul {
    float:left;
    list-style: none;
    padding-left: 0px;

    li {
        display: inline;
        width: 340px;

        ul {
            li {
                display: block;
            }
        }
    }
}

#song_help_text {
    clear: both;
    font-style: italic;
}

a.song_rating {
    text-decoration: none;
}
