{# Make sure the context has a "quote" object #}

{% load revved_static %}

<blockquote class="quote sidebar_box" data-quote-id="{{ quote.id }}" style="background: rgb(72, 137, 244) url('{% static 'gfx/quote-bg.png' %}') no-repeat">
    {% if quote.topic %}
        <h1>Om {{ quote.topic }}</h1>
    {% endif %}
    <div class="quote_content">
        <pre>{{ quote.quote }}</pre>
    </div>
    <footer class="quote_author">- <cite>{{ quote.author}}</cite></footer>

    {% if user.is_authenticated and suggest_button %}
        <button id="suggest_quote" class="btn" title="Foreslå en quote!">+</button>
    {% endif %}
</blockquote>
