{% extends "base.html" %}

{% load revved_static %}

{% block title %}{{ title }}{% endblock %}
{% block og_description %}{{ event.summary }}{% endblock %}
{% block og_title %}{{ event.name }}{% endblock %}

{% block content %}
    <div class="event" data-signup-opens="{{ event.registration_opens|date:"U" }}">
        {% include "events/event_header.html" %}

        {% autoescape off %}
            <p>
                {{ event.summary }}
            </p>

            {{ event.description }}

        {% endautoescape %}

        {% if event.has_registration %}

            {% include "events/event_registration.html" %}

            {% if user.is_authenticated %}
                <div class="participants">
                    <h4>Påmeldte</h4>
                    <ul>
                    {% for user in event.get_participating_users %}
                        <li> {{ user.username }}</li>
                    {% empty %}
                        <li><i>Ingen påmeldte enda!</i></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if user.is_staff %}
                <p>E-post-adresser: {{ event.get_participating_emails|join:", " }}</p>
            {% endif %}

        {% endif %}

     </div>

     {% include 'social_plugins.html' with thing=event %}

{% endblock %}

{% block extrascripts %}
    {{ block.super }}
        <script async defer src="{% static 'js/event_detail.min.js' %}"></script>
{% endblock %}
