{% load url from future %}

<h3>Påmelding</h3>

{% if user.is_authenticated %}

    {% if user.id not in event.get_participants_id %}
        {# Ikke påmeldt enda #}

        <form class="inline" action="{% url 'join_event' event.id %}" method="post">
            {% if event.is_open_for_registration %}

                {% if event.registration_closes %}
                    <p class="event_info">Påmeldingen stenger {{ event.registration_closes_as_string }}.</p>
                {% endif %}

                {% if event.is_full %}
                    <span>Beklager, eventet er fullt.</span>
                {% else %}
                    <input type="submit" class="btn" value="Meld meg på!{{ event.binding_registration|yesno:" (bindende!),"}}">
                {% endif %}

            {% else %}
                {% if event.is_registration_closed %}
                    <p class="event_info">Påmeldingen stengte {{ event.registration_closes_as_string }}.</p>
                {% endif %}

                <input type="submit" class="btn" value="Meld meg på!{{ event.binding_registration|yesno:" (bindende!),"}}" disabled>
            {% endif %}
        </form>

    {% else %}
        {# Brukeren er påmeldt #}

        {% if event.is_open_for_registration %}

            <form class="inline" action="{% url 'leave_event' event.id %}" method="post">
                {% if event.registration_closes and not event.binding_registration %}
                    <p class="event_info">Du er påmeldt, men kan melde deg av frem til påmeldingen stenger {{ event.registration_closes_as_string }}.</p>
                {% endif %}

                {% if event.binding_registration %}
                    <input type="submit" value="Du er påmeldt!" disabled>
                {% else %}
                    <input type="submit" class="btn" value="Meld meg av!">
                {% endif %}
            </form>

        {% else %}

            <p class="event_info">Du er påmeldt, og påmeldingen har stengt.</p>

        {% endif %}

    {% endif %}

{% else %}
    <p class="event_info">Du er ikke innlogget. <a href="{% url 'social:begin' 'facebook' %}?next={{ request.get_full_path|urlencode }}>Logg inn</a> med NTNUI-brukeren din for å melde deg på events.</p>
{% endif %}
