{% extends "base.html" %}

{% load revved_static %}

{% block og_description %}{{ event.summary }}{% endblock %}

{% block content %}
    <div class="event" data-time-remaining-to-signup-opens="{{ signup_countdown_seconds }}">
        {% include "events/event_header.html" %}

        {% autoescape off %}
            <p>
                {{ event.summary }}
            </p>

            {{ event.description }}

        {% endautoescape %}

        {% if event.has_registration %}

            {% include "events/event_registration.html" %}

            {% if user.is_authenticated %}
                <div class="participants">
                    <h4>Påmeldte</h4>
                    <ul>
                    {% for user in participating_users %}
                        {% if event.number_of_spots and forloop.counter0 == event.number_of_spots %}
                        </ul><h4>Venteliste</h4><ul>
                        {% endif %}
                        {% if user.first_name and user.last_name %}
                            <li>{{ user.get_full_name }}</li>
                        {% else %}
                            <li> {{ user.username }}</li>
                        {% endif %}
                    {% empty %}
                        <li><i>Ingen påmeldte enda!</i></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if perms.events.add_event %}
                <p>E-post-adresser: {{ event.get_participating_emails|join:", " }}</p>
            {% endif %}

        {% endif %}

     </div>

     {% include 'social_plugins.html' with thing=event %}

{% endblock %}

{% block extrascripts %}
    {{ block.super }}
        <script async defer src="{% static 'js/event_detail.min.js' %}"></script>
{% endblock %}
