{% extends "base.html" %}

{% load disqus_identifier %}
{% load url from future %}
{% load staticfiles %}

{% block content %}

    {% for article in articles %}
        {% if user.is_superuser or article.visible %}
            <article data-datetime="{{ article.published_date.isoformat }}">
                {% include 'articles/article_view_heading.html' %}
                {{ article.content|safe }}
                <span>Del og diskuter: <a href="{% url 'article_detail' article.id %}#disqus_thread">Del og diskuter &rarr;</a></span>
                {% include 'articles/article_view_ending.html' %}
            </article>
        {% endif %}

    {% endfor %}

    <img id="loading_image" src="{% static "gfx/wait.gif" %}" alt="Loading more articles..." style="display: none">

{% endblock %}

{% block extrascripts %}
    <script async src="{% static "js/libs/handlebars.runtime-1.0.0.js" %}"></script>
    <script async src="{% static "js/handlebars_templates.js" %}"></script>
    <script src="{% static "js/libs/moment.min.js" %}"></script>
    <script src="{% static "js/libs/lang/nb.js" %}"></script>
    <script src="{% static "js/articles.js" %}"></script>
    <script>

        improveTimestamps();

        var disqus_shortname = 'telemarkalpint';
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());

        // Load more articles if approaching the end
        $(document).scroll(function (e) {

            var intBottomMargin = 500; //Pixels from bottom when script should trigger

            //if less than intBottomMargin px from bottom
            if ($(window).scrollTop() >= $(document).height() - $(window).height() - intBottomMargin) {
                loadAjaxData();
            }

        });

        function loadAjaxData(){
            var loading_image = $("#loading_image");
            if (loading_image.is(":hidden")){
                loading_image.show();
                var last_article_datetime = $('article:last').attr("data-datetime");
                var url = "{% url 'all_articles' %}?limit=5&before=" + last_article_datetime;
                $.ajax(url, {
                    dataType: "json",
                    success: function(data, status, xhr){
                        var html = Handlebars.templates.articles(data);
                        $("#content").append(html);
                        improveTimestamps();
                    },
                    complete: function(xhr, status){
                        loading_image.hide();
                    }
                })
            }
        }
    </script>
{% endblock %}
