{% extends "base.html" %}

{% load url from future %}
{% load staticfiles %}

{% block content %}

    <h1>{{ user.profile.username }}</h1>

    {% comment %}
    {% if not user.profile.full_name %}
        <p>
        Ettersom du ikke stå som medlem i gruppen, så har vi ikke klart å automatisk finne det fulle navnet ditt.
        Hvis du hjelpe oss med å fylle det ut under, så hadde det vært supert! Hvis du mot all formodning skulle
        ha lyst til å melde deg inn i gruppa, så kan du gjøre det ved å <a href="http://ntnui.no/telemark/Join.xhtml">klikke her.</a>
        </p>
    {% endif %}

    <div class="profile_image">
        {% if user.profile.image_large %}
            <img src="{{ user.profile.image_large }}" alt="Profilbildet ditt">
        {% else %}
            <img src="{% static "gfx/missing_picture-75.png" %}" alt="Du har ikke lagt inn bilde!">
            <br>
            <a href="{{ EDIT_PROFILE_IMAGE }}">Last opp bilde</a>
        {% endif %}
    </div>
    {% endcomment %}

    <table id="profile-info">
        <tr>
            {% comment %}
            <th>Fullt navn:</th>
            <td>{% if user.profile.full_name %}
                    {{ user.profile.full_name }}
                {% else %}
                    <form class="inline" action="{% url 'submit_full_name' %}" method="post">
                        {{ name_form.full_name }}
                        <input type="submit" class="btn" value="Send inn">
                    </form>
                {% endif %}
            </td>
            {% endcomment %}
        </tr>
        <tr>
            <th>E-post:</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Medlem av gruppen:</th>
            <td>{% if user.profile.is_member %}Ja <a href="{{ LEAVE_URL }}" class="btn">Meld meg ut</a>{% else %}Nei <a href="{{ JOIN_URL }}" class="btn">Meld meg inn</a>{% endif %}</td>
        </tr>
    </table>

    <h1>Mine events</h1>
    <ul>
    {% for event in events %}
        <li><a href="{{ event.get_absolute_url }}">{{ event }}</a></li>
    {% empty %}
        <li>Du har ingen forestående events!</li>
    {% endfor %}
    </ul>

    <h1>Sanger du har foreslått*</h1>
    <ul>
    {% for song in suggested_songs %}
        <li>
            <div class="rating" style="width: 30px;border: 1px solid black;height: 10px;display: inline-block;">
                <div style="width: {{ song.popularity }}%;background-color: green;height: 10px;">
                </div>
            </div>
            {{ song.artist }} - {{ song.title }}</li>
    {% empty %}
        <li>Du har ikke forestlått noen sanger!</li>
    {% endfor %}
    </ul>

    <span><i>* Etter 30. august 2012. Hvis du vil ha kred for noen sanger du har foreslått før den tid,
        send en mail til telemark-webmaster@ntnui.no</i></span>

    <h1>Sanger du har stemt mest på</h1>
    <ul class="most_voted_songs">
        {% for song in top_voted_songs %}
            <li>({{ song.votes }}) {{ song.artist }} - {{ song.title }}</li>
        {% empty %}
            <li>Du har ikke stemt på noen sanger enda!</li>
        {% endfor %}
    </ul>

{% endblock %}