{% extends "base.html" %}

{% load revved_static %}
{% load cache %}

{% block og_description %}Arkivet vårt dokumenterer mye av det som har skjedd i gruppa siden oppstarten i 1986. Retrowarning!{% endblock %}

{% block extrastyles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "stylesheets/archive.css" %}">
{% endblock %}

{% block content %}

    <p>
        Hei, og velkommen til arkivet vårt! Vi sitter på massevis av gamle bilder, videoer, medlemsblader, og lignende
        rarieteter, som ikke har sett dagens lys på leeeenge. Derfor har vi et enormt arbeid i å katalogisere alt dette,
        samt håndtere alle nye bilder som kommer inn. Har du vært med på noe kult i TA-regi vil vi gjerne ha bildene dine!
        Send i så fall en mail til telemark-webmaster@ntnui.no.
    </p>

    <p>
        Foreløpig finner du her alle tidligere arrangementer vi har <i>bilder</i> fra, mer vil dukke opp så fort vi rekker
        å få oversikt over alt det gamle materialet! Når vi har fått kodet inn støtte for video og dokumenter vil dette
        også dukke opp, så følg med fremover! Hvis du skulle oppleve noen problemer med arkivet, så vil webmaster gjerne
        vite om det! Gi vedkommende et hint om hva du sliter med på telemark-webmaster@ntnui.no, så skal vi prøve å få
        ordnet det!
    </p>

    {% if perms.archive.can_upload_images %}
        <form method="post" action="{% url 'archive' %}" enctype="multipart/form-data">
            {{ event_form.as_p }}
            <label for="image-form-photographer">Fotograf:</label><input id="image-form-photographer" type="text" name="photographer">
            <br>
            <label for="image-form-images">Bilder:</label><input id="image-form-images" type="file" name="images" multiple>
            <br>
            <input type="submit" value="Lag nytt galleri" class="btn">
        </form>
    {% endif %}

    <h2>Gamle nettsider</h2>
    <p>
        Her kan du se noen av de gamle nettsidene våre og hva folk preiket om den gang da.
        Årstallene har vi gjettet litt på, men burde være omtrent når de var i bruk.
    </p>
    <ul>
        <li><a href="http://1995.ntnuita.no">1995-1996</a></li>
        <li><a href="http://1999.ntnuita.no">1999-2001</a></li>
        <li><a href="http://2004.ntnuita.no">2004-2006</a></li>
    </ul>

    {% cache 900 'archive-events' show_event %}
    {% for event in events %}

        {% ifchanged event.year %}
            <h1>{{ event.year }}</h1>
        {% endifchanged %}

        <div class="small-indent clickable" id="event-{{ event.pk }}">

            {# link only followed by non-js browsers, js intercepts the others #}
            <a href="{% url 'archive' %}?showEvent={{ event.id }}#event-{{ event.pk }}">
                <h2 class="js-event-title" data-event-url="{% url 'event_details' event.id %}">{{ event.name }}</h2>
            </a>

            {# Loader that appears until js has rendered the images #}
            <div class="event-images" style="display: none;">
                <img src="{% static 'gfx/wait.gif' %}" alt="Laster&hellip;">
            </div>

            {# For non-js browsers that has requested this event, show the event #}
            {% if show_event == event.id %}
                <div>
                    {% for image in event.images %}
                        <a href="{{ image.websize }}" data-gallery data-description="{{ image.description }}" title="Foto: {{ image.photographer|default:'ukjent' }}">
                            <img src="{{ image.thumbnail }}">
                        </a>
                    {% endfor %}
                </div>
            {% endif %}

        </div>

    {% endfor %}
    {% endcache %}

    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <p class="description"></p>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

{% endblock %}

{% block extrascripts %}
    <script async defer src="{% static 'js/archive.min.js' %}"></script>
{% endblock %}
