{% extends "base.html" %}

{% load disqus_identifier %}
{% load url from future %}
{% load revved_static %}

{% block content %}

    {% if instagram_latest %}
        {# we're on the frontpage, show latest stuff from instagram #}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    Siste <a class="header-link" href="{% url 'all_instagram' %}">#ntnuita</a> på instagram
                </h2>
            </div>
            {% for media in instagram_latest %}
                {% include 'instagram/render_media.html' %}
            {% endfor %}
        </div>
    {% endif %}

    {% for article in articles %}
        {% if user.is_superuser or article.visible %}
            <article data-datetime="{{ article.published_date.isoformat }}">
                {% include 'articles/article_view_heading.html' %}
                {{ article.content|safe }}
                <span>Del og diskuter: <a href="{% url 'article_detail' article.id %}#disqus_thread">Del og diskuter &rarr;</a></span>
                {% include 'articles/article_view_ending.html' %}
            </article>
        {% endif %}

    {% endfor %}

    <img id="loadingImage" src="{% static "gfx/wait.gif" %}" alt="Loading more articles..." style="display: none">

{% endblock %}

{% block extrascripts %}
    <script async defer src="{% static 'js/articles.min.js' %}"></script>
    {% if instagram_latest %}
        <script async defer src="{% static 'js/instagram.min.js' %}"></script>
    {% endif %}
{% endblock %}
