{% extends 'base.html' %}

{% load staticfiles %}

{% block og_description %}{% firstof blog.social_summary blog.content|striptags|truncatewords:40 %}{% endblock %}
{% block og_title %}{{ blog.title }}{% endblock %}

{% block content %}

    <blog>

        {% include 'blogs/blog_view_heading.html' %}
        {{ blog.content|safe }}
        {% include 'blogs/blog_view_ending.html' %}
        {% include 'social_plugins.html' with thing=blog %}

    </blog>

{% endblock %}

{% block extrascripts %}
    <script src="{% static "js/blogs.min.js" %}"></script>
{% endblock %}
