{% load shorten %}
{% load revved_static %}

<li data-filter="{{ song.artist }} {{ song.title }}">
    <div class="rating">
        <div class="rating-bar" style="width: {{ song.popularity|floatformat:"4" }}%;">
        </div>
    </div>
    <span title="{{ song.artist }}">{{ song.artist|shorten:17 }}</span> -
    <a href="{{ MEDIA_URL }}{{ song.filename|urlencode }}.mp3" title="{{ song.title }}">{{ song.title|truncatechars:15 }}</a>
    {% if user.is_authenticated %}
        {% if song.id not in songs_voted_on %}
            <img id="{{ song.id }}" alt="Stem opp!" title="Stem opp {{ song.title }}!" class="clickable song_vote_button" src="{% static "gfx/thumbsup.png" %}" >
        {% else %}
            <img src="{% static "gfx/check.png" %}" >
        {% endif %}
    {% endif %}
</li>
