{% load shorten %}
{% load revved_static %}

<li data-filter="{{ song.artist }} {{ song.title }}">
    <a href="{{ song.get_absolute_url }}" class="song_rating">
        <div class="rating" style="width: 30px;border: 1px solid black;height: 10px;display: inline-block;">
            <div style="width: {{ song.popularity }}%;background-color: green;height: 10px;">
            </div>
        </div>
    </a>
    <span title="{{ song.artist }}">{{ song.artist|shorten:17 }}</span> -
    <a href="{{ MEDIA_URL }}{{ song.filename|urlencode }}.mp3" title="{{ song.title }}">{{ song.title|truncatechars:15 }}</a>
    {% if user.is_authenticated %}
        {% if song.id not in songs_voted_on %}
            <img id="{{ song.id }}" alt="Stem opp!" title="Stem opp {{ song.title }}!" class="clickable song_vote_button" src="{% static "gfx/up.png" %}" >
        {% else %}
            <img src="{% static "gfx/check.png" %}" >
        {% endif %}
    {% endif %}
</li>
