{% extends 'base.html' %}

{% block og_description %}
    Stem opp dine favorittsanger til mandagstrening? Er det kanskje {{ song.title }} av {{ song.artist }}
    som får deg til yte det lille ekstra?{% endblock %}
{% block og_title %}{{ song.artist }} - {{ song.title }} :: NTNUI Telemark-Alpint{% endblock %}
{% block og_type %}music.song{% endblock %}

{% block content %}
    <h1>{{ song.artist }} - {{ song.title }}</h1>

    <progress min=0 max=100 value={{ song.popularity }}>{{ song.popularity }}%</progress>

    <button class="vote_up" id="{{ song.id }}">
        <a href="{% url 'vote_on_song' song.id %}">Stem opp!</a>
    </button>

    {% include 'social_plugins.html' with thing=song %}

{% endblock %}

{% block extrascripts %}
    <script>
        $(".vote_up").click(function(){
            var song_id = $(this).attr('id');
            vote(song_id);
        })
    </script>
    <script>
        {% include 'musikk/musikk.js' %}
    </script>
{% endblock %}
