{% extends 'base.html' %}

{% load url from future %}

{% block title %}Mest populære sanger{% endblock %}

{% block content %}

    <h1>Mest populære sanger</h1>
    <p>
        Dette er de {{ num_songs }} mest populære sangene stemt frem av brukerne våre:<br>
        <ul>
            <li>
                <a href="{% url 'top_song' %}" download="{{ top_song_url }}">Slått sammen til én sang (MP3, høyreklikk og "lagre som").</a>
            </li>
            <li>
                <a href="{% url 'top_list' %}">Som en liste (JSON)</a>
            </li>
        </ul>
    </p>

    <p>
        Sist oppdatert: {{ last_updated }}.
    </p>

{% endblock %}
