{% extends "base.html" %}

{% load url from future %}

{% block content %}

    <h1>{{ user }}</h1>

    <table id="profile-info">
        <tr>
            <th>E-post:</th>
            <td>{{ user.email }}</td>
        </tr>
    </table>

    <h1>Mine events</h1>
    <ul>
    {% for event in events %}
        <li><a href="{{ event.get_absolute_url }}">{{ event }}</a></li>
    {% empty %}
        <li>Du har ingen forestående events!</li>
    {% endfor %}
    </ul>

    <h1>Sanger du har foreslått*</h1>
    <ul>
    {% for song in suggested_songs %}
        <li>
            <div class="rating" style="width: 30px;border: 1px solid black;height: 10px;display: inline-block;">
                <div style="width: {{ song.popularity }}%;background-color: green;height: 10px;">
                </div>
            </div>
            {{ song.artist }} - {{ song.title }}</li>
    {% empty %}
        <li>Du har ikke forestlått noen sanger!</li>
    {% endfor %}
    </ul>

    <span><i>* Etter 30. august 2012. Hvis du vil ha kred for noen sanger du har foreslått før den tid,
        send en mail til telemark-webmaster@ntnui.no</i></span>

    <h1>Sanger du har stemt mest på</h1>
    <ul class="most_voted_songs">
        {% for song in top_voted_songs %}
            <li>({{ song.votes }}) {{ song.artist }} - {{ song.title }}</li>
        {% empty %}
            <li>Du har ikke stemt på noen sanger enda!</li>
        {% endfor %}
    </ul>

{% endblock %}
